<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/reset.css" />
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Copse|Cuprum">
    <title>beware the chupayelpa</title>
  </head>
  <body class="main">
    <div class="logo">
      chupayelpa
    </div>
    <div class="container">
      <div class="all-content">
        <div id="login-content" class="content">
          <h1>
          {% if user %}
            <img width="24" height="24"
                 align="absmiddle" class="user-img" src="{{user['photo']}}" />
            <span>Hi there {{ user['firstName'] }}</span>
          {% else %}
            Hi there<br />
          {% end %}
          </h1>
          <div class="body">
            {% if user %}
              <span class="small">
                (p.s. you can <a href="#">log out</a> and start over if you wish)
              </span>
            {% else %}
              <a href="/auth/foursquare">login with foursquare</a> to get started.
            {% end %}
          </div>
        </div>

        {% comment split all this in to modules %}
        {% if user %}
          <div id="enter-yelp" class="content{%if yelpId%} has-yelp{%else%} no-yelp{%end%}">
            {% if yelpId %}
              <h1>Your Yelp Info</h1>
            {% else %}
              <h1>Next: We Need Your Yelp Id</h1>
              <div class="body">
                {% if yelpError %}
                <div class="error">Error: {{yelpError}}</div>
                {% end %}
                <form action="/submityelp" method="post">
                  {{ xsrf_form_html() }}
                  <input id="yelpid" name="yelpid" class="text" type="text"></input>
                  <input class="submit" type="submit" value="Go">
                </form>
                <span class="small">
                (p.s. this is the userid param when you visit your yelp profile)
                </span>
              </div>
            {% end %}
          </div>
        {% end %}
      </div>
    </div>

  </body>
</html>
