<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/reset.css" />
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Copse|Cuprum">
    <script type="text/javascript" src="http://localhost:9810/compile?id=chupayelpa"></script>
    <title>beware the chupayelpa</title>
  </head>
  <body class="main">
    <div class="logo">
      chupayelpa
    </div>
    <div class="container">
      <div class="all-content">
        <div id="login-content" class="content">
          <h1>
          {% if user %}
            <img width="24" height="24"
                 align="absmiddle" class="user-img" src="{{user['photo']}}" />
            <span>Hi there {{ user['firstName'] }}</span>
          {% else %}
            Hi there<br />
          {% end %}
          </h1>
          <div class="body">
            {% if user %}
              <span class="small">
                (p.s. you can <a href="/logout">log out</a> and start over if you wish)
              </span>
            {% else %}
              <a href="/auth/foursquare">login with foursquare</a> to get started.
            {% end %}
          </div>
        </div>

        {% comment split all this in to modules %}
        {% if user %}
          <div id="enter-yelp" class="content yelp-content{%if yelpId%} has-yelp{%else%} no-yelp{%end%}">
            {% if yelpId %}
              <h1>Your {{ len(yelpBookmarks) }} Yelp Bookmarks
                <span class="actions">
                  ( <span class="all link">all</span> | <span class="none link">none</span> )
                </span>
              </h1>
              <div class="body">
                <div class="head loading">
                  matched <span id="total-matched" class="prog">0</span> foursquare venues...
                </div>
                <div id="bk-table" class="bklist">
                  {% for yelpBookmark in yelpBookmarks %}
                    <div id="{{yelpBookmark['id']}}" class="bkrow loading">
                      <div class="checky">
                        <input type="checkbox" disabled="disabled" class="sync-this" />
                      </div>
                      <div class="info">
                        <div class="name">
                          <a target="_blank" href="http://yelp.com/biz/{{yelpBookmark['id']}}">
                            {{yelpBookmark['name']}}
                          </a>
                        </div>
                        {% if yelpBookmark['neighborhoods'] %}
                          <div class="neighborhood">
                            {{yelpBookmark['neighborhoods']}}
                          </div>
                        {% end %}
                        <div class="address">
                          {{'<br />'.join(yelpBookmark['formatted_address_brief'])}}
                        </div>
                      </div>
                      <div class="fsqinfo">
                        <span class="failure">no match&nbsp;<span class="frown">:(</span></span>
                        <div class="success">
                          <div class="name">
                            <a href="#" class="link" target="_blank"></a>
                          </div>
                          <span class="other-matches">
                            (<span class="other-count"></span> other matches</a>)
                          </span>
                        </div>
                      </div>
                    </div>
                  {% end %}
                </div>
              </div>
            {% else %}
              <h1>Next: We Need Your Yelp Id</h1>
              <div class="body">
                {% if yelpError %}
                <div class="error">Error: {{yelpError}}</div>
                {% end %}
                <form action="/submityelp" method="post">
                  {{ xsrf_form_html() }}
                  <input id="yelpid" name="yelpid" class="text" type="text"></input>
                  <input class="submit" type="submit" value="Go">
                </form>
                <span class="small">
                (p.s. this is the userid param when you visit your yelp profile)
                </span>
              </div>
            {% end %}
          </div>
        {% end %}
      </div>
    </div>
    <script>
      {% if yelpId %}
        minivishnu.chupayelpa.main({{user['id']}}, {{json_encode(yelpBookmarks)}});
      {% end %}
    </script>
  </body>
</html>
