body.main {
  height: 100%;
  background-color: #ededed;
  font-size: 12pt;
  font-family: 'helvetica', sans-serif;
}

div.logo {
  background-color: #000;
  color: #fff;
  font-size: 14pt;
  margin-bottom: 24px;
  padding: 12px 12px 12px 24px;
  font-family: 'Cuprum', 'helvetica';
}

div.container {
  margin: 24px;
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: -2px 2px 1px #888;
  box-shadow: -2px 2px 1px #888;
  padding: 12px;
  min-height: 400px;
}

div.container .content {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #d9d9d9;
  margin-bottom: 12px;
}

div.container .content h1 {
  font-family: 'Copse', 'helvetica';
  margin-bottom: 12px;
}

div.container .content .body {
  font-size: 10pt;
}

div.content .small {
  font-size: 8pt;
}

div.content .error {
  font-size: 10pt;
  color: red;
  margin-bottom: 6px;
}

div.container .content:hover {
  border: 1px solid #ffa348;
}

div.content a,
div.content a:visited {
  text-decoration: none;
  color: #00c;
}

div.content a:hover {
  text-decoration: underline;
}

div.container .content.yelp-content:hover,
div.content.yelp-content {
  border: 2px solid #ffa348;
  min-height: 100px;
}

#enter-yelp .head.loading {
  background-image: url(/static/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 6px 36px;
  font-style: italic;
  text-align: right;
}

#enter-yelp .head.loading .prog {
  font-weight: bold;
}

#enter-yelp h1 .actions {
  font-weight: normal;
  font-size: 9pt;
  margin-left: 12px;
}

#enter-yelp form input.text {
  height: 36px;
  border: 1px solid #d9d9d9;
  width: 400px;
  font-size: 12pt;
}

#enter-yelp form input.submit {
  height: 40px;
  border: 1px solid #d9d9d9;
  background-color: #f0f0f0;
  padding: 0 12px;
  font-size: 12pt;
  font-weight: bold;
  cursor: pointer;
}

#enter-yelp form input.submit:hover,
#enter-yelp form input.submit:active {
  -webkit-box-shadow: -1px 1px 1px #888 inset;
  box-shadow: -1px 1px 1px #888 inset;
}

#enter-yelp .bklist {
  overflow: auto;
  max-height: 350px;
}

#enter-yelp .bkrow {
  border-bottom: 1px solid #d4d4d4;
  max-width: 95%;
  padding: 6px 0 12px 0;
  overflow: auto;
}

#enter-yelp .bkrow:hover {
  background-color: #fafafa;
}

#enter-yelp .bkrow .checky,
#enter-yelp .bkrow .info {
  float: left;
}

#enter-yelp .bkrow .checky {
  width: 48px;
}

#enter-yelp .bkrow .checky .sync-this {
  margin-top: 24px;
}

#enter-yelp .bkrow .name {
  font-size: 11pt;
  margin-bottom: 6px;
  color: #888;
}

#enter-yelp .bkrow .name a,
#enter-yelp .bkrow .name a:visited {
  text-decoration: none;
  color: #888;
}
#enter-yelp .bkrow .name a:hover {
  text-decoration: underline;
}

#enter-yelp .bkrow:hover .name a {
  color: #00c;
}
